<p>Welkom u bent succesvol ingelogd!</p>

<div>
  <p>Reeds bestaande users zijn:</p>
<p *ngFor="let item of user | async">
  {{ item.name }}: {{ item.email }}
</p>
</div>
<button mat-raised-button color="primary" (click)="logout()">Logout</button>
